.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 30px;
  color: white;
  position: relative;
}

.versiontag {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #ededed;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
}

.App-intro {
  font-size: large;
  padding: 20px;
}

.main_icon {
  width: 88px;
  height: 82px;
  position: absolute;
  margin-left: -105px;
  margin-top: -20px;
  background-image: url('./main_icon.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.text-area {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  border: 1px black solid;
  line-height: 1.2;
  display: inline-block;
  text-align: left;
  min-height: 50px;
  vertical-align: top;
}

.text-area * {
  vertical-align: top;
}

textarea.text-area {
  min-height: 50px;
}

.text-area p {
  padding: 0; margin: 0;
}

.text-area img {
  width: 96px;
  height: 84px;
}

@media (max-width: 767px) {
  .text-area img {
    width: 64px;
    height: 56px;
  }
}

div.text-area {
  background-color: #efefef;
}